---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "plugin-site-issues.fullname" . }}
  labels:
{{ include "plugin-site-issues.labels" . | indent 4 }}
type: Opaque
data:
  jira_url: {{ required "jira.url is required" .Values.jira.url | toString | b64enc }}
  jira_username: {{ required "jira.username is required" .Values.jira.username | toString | b64enc }}
  jira_password: {{ required "jira.password" .Values.jira.password | toString | b64enc }}
  github_app_id: {{ required "github.app_id is required" .Values.github.app_id | toString | b64enc }}
  github_app_private_key: {{ required "github.app_id is required" .Values.github.app_private_key | toString | b64enc }}
