apiVersion: v2
name: mirrorbits-parent
description: A mirrorbits parent chart for Kubernetes
type: application
version: 1.1.14
maintainers:
- email: jenkins-infra-team@googlegroups.com
  name: jenkins-infra-team
dependencies:
- name: mirrorbits-lite
  condition: mirrorbits-lite.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 0.4.1
- name: httpd
  condition: httpd.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 0.3.0
- name: rsyncd
  condition: rsyncd.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 1.4.15
