apiVersion: v2
name: mirrorbits-parent
description: A mirrorbits parent chart for Kubernetes
type: application
version: 0.0.13
dependencies:
- name: mirrorbits-lite
  condition: mirrorbits-lite.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 0.2.0
- name: httpd
  condition: httpd.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 0.0.6
- name: rsyncd
  condition: rsyncd.enabled
  repository: https://jenkins-infra.github.io/helm-charts
  version: 1.2.2
