apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "plugin-site-frontend.fullname" . }}
  labels:
    {{- include "plugin-site-frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "plugin-site-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "plugin-site-frontend.labels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/nginx-configmap.yaml") . | sha256sum }}
    spec:
      automountServiceAccountToken: false
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ include "plugin-site-frontend.name" .}}
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
              - name: frontend
                containerPort: {{ .Values.frontend.port }}
                protocol: TCP
          livenessProbe:
              httpGet:
                  path: /
                  port: {{ .Values.frontend.port }}
                  scheme: HTTP
              initialDelaySeconds: 5
              timeoutSeconds: 5
          readinessProbe:
              httpGet:
                  path: /
                  port: {{ .Values.frontend.port }}
                  scheme: HTTP
              initialDelaySeconds: 5
              timeoutSeconds: 5
          volumeMounts:
            - name: html
              mountPath: /pub
            - name: config
              mountPath: /etc/nginx/conf.d
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: html
        {{- if .Values.htmlVolume }}
{{ toYaml .Values.htmlVolume | indent 10 }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: config
          configMap:
            name: {{ include "plugin-site.fullname" . }}-nginx
