apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "rsyncd.fullname" . }}
  labels:
{{ include "rsyncd.labels" . | indent 4 }}
spec:
  # Rsyncd does not scale horizontally - https://man7.org/linux/man-pages/man5/rsyncd.conf.5.html
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "rsyncd.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "rsyncd.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      automountServiceAccountToken: false
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: rsyncd
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.containerSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: rsyncd
              containerPort: {{ .Values.port }}
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: {{ .Values.port }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.port }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: rsyncd-conf
              mountPath: /etc/rsyncd.d/rsyncd.inc
              readOnly: true # Default for configmaps
              subPath: rsyncd.inc
            - name: rsyncd-conf
              mountPath: {{ .Values.configuration.motd.path }}
              subPath: jenkins.motd
              readOnly: true # Default for configmaps
            - name: ramfs
              mountPath: /tmp
              subPath: tmp
            - name: ramfs
              mountPath: /rsync/run
              subPath: run
            {{- range .Values.configuration.components }}
            - name: rsyncd-conf
              mountPath: /etc/rsyncd.d/{{ .name }}.conf
              readOnly: true # Default for configmaps
              subPath: {{ .name }}.conf
            - name: datadir-{{ .name }}
              mountPath: {{ .path }}
              readOnly: true
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
        - name: rsyncd-conf
          configMap:
            name: {{ include "rsyncd.fullname" . }}-conf
        - name: ramfs
          emptyDir:
            medium: Memory
            sizeLimit: 32Mi
        {{- range .Values.configuration.components }}
        - name: datadir-{{ .name }}
          {{- if .volume }}
            {{- toYaml .volume  | nindent 10 }}
          {{- else }}
          emptyDir:
          {{ end }}
        {{- end }}
