# Default values for artifact-caching-proxy.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: nginx
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: 1.26.1-alpine
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
podAnnotations: {}
podSecurityContext: {}
# fsGroup: 2000
securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000
service:
  type: ClusterIP
  # non root port
  port: 8080
  # to expose nginx metrics
  statusPort: 18080
ingress:
  enabled: false
  className: ""
  annotations: {}
  # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  healthPath: /health
  healthPathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
resources: {}
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi
# Datadog Integration
datadog:
  metricsCollection:
    enabled: true
  logCollection:
    enabled: true
nodeSelector: {}
tolerations: []
affinity: {}
## artifact-caching-proxy values
auth:
  enabled: false
  # To generate and store this value as secret: `htpasswd -c auth foo` (password "bar") then `cat auth`
  basicAuth: ""
persistence:
  enabled: false
  claimPrefix: nginx-cache
  # cache size (in gigabyte)
  size: 50
  storageClass: ""
  accessMode: ReadWriteOnce
initContainers:
  enabled: true
cache:
  # http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_path
  path: /data/nginx-cache
  keysZoneSize: "200m"
  inactive: "1M"
  useTempPath: "off"
proxy:
  proxyPass: "repo.jenkins-ci.org"
  proxyCacheValidCode: "200 206"
  proxyCacheValidCodeDuration: "1M"
  # http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_bypass
  proxyBypass:
    enabled: false
  # Allows the configuration of the initial proxy location (e.g. setting to '/' will proxy all requests to the upstream)
  initialProxyLocationPath: /public
  # Allows to set the Authorization header to be sent to the upstream, e.g. "Bearer 123"
  authorizationHeader: ""
  # Allows to set the DNS resolver to be used for upstreams
  dnsResolver: 9.9.9.9
poddisruptionbudget:
  minAvailable: 1
env: []
# - name: http_proxy
#   value: "http://my-nginx-forward-proxy:3128"
# - name: no_proxy
#   value: "localhost,127.0.0.1,172.17.0.1"
envFrom: []
# - secretRef:
#     name: my-nginx-proxy-secrets
