apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "incrementals-publisher.fullname" . }}
  labels:
{{ include "incrementals-publisher.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "incrementals-publisher.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        # subpath secrets don't get updates, and we want to restart on change anyways
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/name: {{ include "incrementals-publisher.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      automountServiceAccountToken: false
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ tpl .Values.image.tag . }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          #livenessProbe:
          #  httpGet:
          #    path: /healthcheck
          #    port: http
          #readinessProbe:
          #  httpGet:
          #    path: /healthcheck
          #    port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: JENKINS_AUTH
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: jenkins_auth
            - name: GITHUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: github_token
            - name: GITHUB_APP_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: github_app_id
            - name: GITHUB_APP_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: github_app_private_key
            - name: ARTIFACTORY_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: artifactory_key
            - name: PRESHARED_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "incrementals-publisher.fullname" . }}
                  key: preshared_key
            {{- if .Values.permissions_url }}
            - name: PERMISSIONS_URL
              value: {{ .Values.permissions_url }}
            {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
