image:
  repository: jenkinsciinfra/geoipupdate
  tag: 0.3.46
  pullPolicy: IfNotPresent
imagePullSecrets: []
# securityContext:
# Secret values, set to empty below for reference:
geoipupdate:
  dryrun: true
  account_id: ""
  license_key: ""
  fileshare_client_id: ""
  fileshare_client_secret: ""
  fileshare_tenant_id: ""
  editions: "GeoLite2-ASN GeoLite2-City GeoLite2-Country"
  storage_name: ""
  storage_fileshare: ""
  cron: '0 4 * * *' # default to every day at 4AM
  # rolloutrestart:
  #   enable: false
  #   restarts:
  #     - namespace: updates-jenkins-io
  #       deployments:
  #         - updates-jenkins-io-content-secured-mirrorbits
  #         - updates-jenkins-io-content-unsecured-mirrorbits
  #     - namespace: get-jenkins-io
  #       deployments:
  #         - get-jenkins-io-mirrorbits
podSecurityContext: {}
# fsGroup: 2000
containerSecurityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000
resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 256Mi # minimum 256Mi to avoid OMM kill for `az login`
# requests:
#   cpu: 100m
#   memory: 256Mi
nodeSelector: {}
tolerations: []
affinity: {}
podAnnotations: {}
