{{- if .Values.imageCredentials -}}
{{- if .Values.imageCredentials.enabled -}}
{{- range .Values.imageCredentials.namespaces -}}
apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-credential
  namespace: {{ . }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ template "imagePullSecret" $ }}
---
{{- end -}}
{{- end -}}
{{- end -}}
