# Default values for plugins.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
backend:
  replicaCount: 2
  image:
    repository: dockerhubmirror.azurecr.io/jenkinsciinfra/plugin-site-api
    tag: v1.17.0
    pullPolicy: IfNotPresent
  port: 8080
  resources:
    limits:
      cpu: 2000m
      memory: 2048Mi
    requests:
      cpu: 500m
      memory: 1024Mi
  podAnnotations: {}
frontend:
  replicaCount: 2
  image:
    repository: nginx
    tag: 1.28.1-alpine
    pullPolicy: IfNotPresent
  port: 80
  resources:
    limits:
      cpu: 100m
      memory: 32Mi
    requests:
      cpu: 100m
      memory: 32Mi
  poddisruptionbudget:
    minAvailable: 1
  podAnnotations: {}
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
service:
  type: ClusterIP
# Please define ingress settings into environment variable
ingress:
  enabled: false
  className: ""
  paths:
    - path: /api/(.*)
      svcName: backend
      svcPort: 8080
      prefix: ImplementationSpecific
    - path: /(.*)
      svcName: frontend
      svcPort: 80
      prefix: ImplementationSpecific
  annotations:
    # rewrite target is important to get the path regexes to work
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
#    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
#    "nginx.ingress.kubernetes.io/proxy-body-size": "500m"
#
#  hosts:
#    - host: plugins.jenkins.io
#
#  tls:
#    - secretName: plugins-tls
#      hosts:
#        - plugins.jenkins.io
nodeSelector: {}
tolerations: []
affinity: {}
dataFileUrl: https://reports.jenkins.io/plugin-site-api/plugins.json.gzip
github:
  appId: ""
  appPrivateKey: ""
jira:
  username: ""
  password: ""
# the volume to mount
# e.g.
# htmlVolume:
#   hostPath:
#     path: /host
htmlVolume: {}
# name of the azure storage account to be used
azureStorageAccountName: null # key for accessing the azure storage account
azureStorageAccountKey: null
sentry:
  dsn: ""
