# Default values for mirrorbits.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: jenkinsciinfra/mirrorbits
  tag: 0.2.45
  pullPolicy: IfNotPresent
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
annotations: {}
podSecurityContext: {}
# fsGroup: 2000
securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000
service:
  type: ClusterIP
  port: 80
  files:
    type: ClusterIP
    port: 80
ingress:
  enabled: false
  className: ""
  annotations: {}
  # kubernetes.io/tls-acme: "true"
  hosts: []
  #   - host: chart-example.local
  #     paths:
  #       - path: /
  #         serviceNameSuffix: files
  #       - path: /.*[.](deb|hpi|war|rpm|msi|pkg|sha256|md5sum|zip|gz|pdf|json|svg|sh|jpeg|ico|png|html)$
  #         pathType: ImplementationSpecific
  #   - host: fallback.chart-example.local
  #     paths:
  #       - path: /
  #         serviceNameSuffix: files
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi
nodeSelector: {}
tolerations: []
affinity: {}
## config: specify mirrorbits configuration items
config:
  repository: /srv/repo
  templates: /usr/share/mirrorbits/templates
  geoipDatabase: /usr/share/GeoIP
  disallowRedirects: true
  disableOnMissingFile: true
  ## config.logs specify where to mount mirrorbits detailled logs directory.
  logs:
    ## config.logs.path specifies the logs path. Default as a download.logs symlink to stdout
    path: /var/logs/mirrorbits
    ## config.logs.volume contains the Pod Volume definition for mirrorbits logs
    ## Example with an existing PVC:
    # volume:
    #   persistentVolumeClaim:
    #     claimName: <PVC name>
  gzip: false
  port: 8080
  traceFile: /trace
  ## Interval in minutes between mirror scan
  scanInterval: 30
  ## Interval between two scans of the local repository. This should, more or less, match the frequency where the local repo is updated.
  repositoryScanInterval: 5
  concurentSync: 5
  ## Interval in minutes between mirrors HTTP health checks
  checkInterval: 1
  ## config.redis specifies the Redis configuration
  # redis:
  #   address: redis.local:6379
  #   password: superSecretValueForRedis
  #   dbId: 0
  fallbacks: []
  # - URL: https://fallback.company.org
  #   CountryCode: DE
  #   ContinentCode: EU
repository:
  name: mirrorbits-binary
  persistentVolumeClaim:
    enabled: false
    # spec hold persistentVolumeClaim spec
    spec: {}
  persistentVolume:
    enabled: false
    # spec hold persistentVolume spec
    spec: {}
  secrets:
    enabled: false
    # data hold secrets data used by persistentVolume
    data: {}
poddisruptionbudget:
  minAvailable: 1
geoipdata:
  persistentData:
    enabled: false
    # capacity: 1Gi
    # storageClassName: statically-provisionned
    # csi: {}
