{{- if not .Values.existingServiceAccount }}
# From https://github.com/jenkinsci/kubernetes-plugin/blob/master/src/main/kubernetes/service-account.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "jenkins.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
automountServiceAccountToken: false
{{- end }}
