---
# Default values for plugins.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: nginx
  tag: 1.26.2-alpine
  pullPolicy: IfNotPresent
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
ingress:
  enabled: false
  className: ""
#  annotations:
#    "cert-manager.io/cluster-issuer": "letsencrypt-prod"
#    "nginx.ingress.kubernetes.io/proxy-body-size": "500m"
#
#  hosts:
#    - host: nginx-website.jenkins.io
#      paths:
#        - /
#  tls:
#    - secretName: nginx-website-tls
#      hosts:
#        - nginx-website.jenkins.io
service:
  type: ClusterIP
  port: 80
resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi
nodeSelector: {}
tolerations: []
affinity: {}
# the volume to mount
# e.g.
# htmlVolume:
#   hostPath:
#     path: /host
htmlVolume: {}
podDisruptionBudget:
  minAvailable: 1
# ## Secrets values
# # name of the azure storage account to be used
# azureStorageAccountName:
# # key for accessing the azure storage account
# azureStorageAccountKey:
