name: Test Charts
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chart:
          - artifact-caching-proxy
          - httpredirector
          - jenkins-jobs
          - jenkins-kubernetes-agents
          - plugin-health-scoring
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get Tools Versions
        id: tools-versions
        run: |
          current_helm_version="$(curl --silent --location https://raw.githubusercontent.com/jenkins-infra/docker-helmfile/main/Dockerfile  | grep 'ARG' | grep 'HELM_VERSION=' | sort -u | cut -d'=' -f2)"
          echo "CURRENT_HELM_VERSION=${current_helm_version}" >> $GITHUB_OUTPUT
      - name: Set up Helm
        uses: azure/setup-helm@5119fcb9089d432beecbf79bb2c7915207344b78 # v3
        with:
          version: "${{ steps.tools-versions.outputs.CURRENT_HELM_VERSION }}"
      - name: install helm unittests
        env:
          HELM_UNITTESTS_URL: https://github.com/helm-unittest/helm-unittest
        run: |
          helm env
          # Repeat 2 times to fight against network errors in  GHA runners
          # Always return true
          helm plugin install "$HELM_UNITTESTS_URL" \
            || helm plugin install "$HELM_UNITTESTS_URL" \
            || true
          # Fail if not installed
          helm plugin list | grep unittest
      - name: run unit tests
        working-directory: ./charts/
        run: |
          helm unittest "${{ matrix.chart }}"
