{{- if .Values.serviceaccount.enabled }}
# From https://github.com/jenkinsci/kubernetes-plugin/blob/master/src/main/kubernetes/service-account.yml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}
---
# From https://github.com/jenkinsci/kubernetes-plugin/blob/master/src/main/kubernetes/service-account.yml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}-role
rules:
- apiGroups: [""]
  resources: ["pods/exec"]
  verbs: ["create","delete","get","list","patch","update","watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}-role
subjects:
- kind: ServiceAccount
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}
---
# From https://v1-24.docs.kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#manually-create-a-service-account-api-token
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "mirrorbits-parent.serviceAccountName" . }}-token
  annotations:
    kubernetes.io/service-account.name: {{ template "mirrorbits-parent.serviceAccountName" . }}
type: kubernetes.io/service-account-token
{{- end }}
